$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$white: rgb(255, 255, 255);
$light-text: rgb(255, 250, 223);
$dark-gray: rgb(141, 141, 141);
$gray: rgb(121, 121, 121);
$black: rgb(0, 0, 0);

* {
  letter-spacing: 2px;
  color: $light-text;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-weight: lighter;
}

body {
  background-color: $black;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-img {
    background: url(../img/preto3.webp) no-repeat center/cover;
    box-shadow: inset 0 0 20px $black;
    position: relative;
    top: -120px;
    z-index: -2;
    height: 100vh;
    width: 100%;
  }
}

h1 {
  position: relative;
  top: 80px;
  text-transform: uppercase;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  &:nth-child(2) {
    font-size: 6rem;
    line-height: 75px;
  }
  
  span {
    font-size: 4.7rem;
    letter-spacing: 40px;
    line-height: 80px;
    
  }

  &::before {
    content: "";
    position: absolute;
    left: -1900px;
    top: 80px;
    width: 140px;
    height: 3px;
    transform: skew(-75deg);
    box-shadow: 1px 1px 20px $white;
    background-color: $white;
    animation: shine 12s infinite;
  }
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.8) 0%,
    rgb(5, 5, 5) 50%,
    rgba(44, 44, 44, 0.8) 100%
  );
  opacity: 0.98;
  z-index: 10;

  img {
    width: 70px;
    height: 70px;
    position: relative;
    left: 10px;
    top: 20px;
  }
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;

  li {
    text-align: center;
    padding: 10px;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $primary-font;
  }
}

footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  color: $white;
  position: relative;
  width: 100%;
  padding-top: 20px;
  box-shadow: 0 0 20px $black;

  a,
  p {
    animation: glow 4s infinite;
    color: $dark-gray;
    font-size: 1.4rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .info,
  .socials {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 30px;

    .addressBtn {
      cursor: pointer;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: $gray;
    }
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .location-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
  }

  .map-info {
    font-size: 0.6rem;
    animation: none;
    color: $black;
    position: relative;
    margin: 20px auto;
  }

  .show-map {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 90%;
  top: 0;
  background: url(../img/modalbcg.webp) no-repeat center/cover;
  border-radius: 12px;
  padding: 80px 50px;
  z-index: 5;

  h2 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px $white;
    text-transform: uppercase;
    color: $black;
    letter-spacing: 7px;
  }

  .modal-wine-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .wines {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 70px;
    margin: 10px;

    .wineName {
      margin: 10px;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $black;
    }

    .wineDescription {
      color: rgb(64, 64, 64);
      font-size: 1.1rem;
    }

    .winePhoto {
      height: 50%;
      width: 50%;
      opacity: 1;
      display: inline-block;
      margin: 0 auto;
    }
  }

  .modal-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    color: $black;
    padding: 20px;
    opacity: 1;

    h3 {
      color: $black;
      font-size: 2rem;
    }

    p:nth-child(even) {
      color: rgb(57, 57, 57);
    }

    a {
      font-size: 1.4rem;
      margin: 20px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: $white;
      text-shadow: 0 0 20px $black;
    }

    sub {
      color: $white;
    }

    span {
      margin: 30px;
      color: gray;
    }
  }

  p {
    color: $black;
    line-height: 25px;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin: 0 auto;
  }

  .modal-photo {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
  }
}

.wines-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;

  .wines {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 2rem;
      margin: 0 auto;
      text-align: center;
      line-height: 4rem;
      color: $black;
    }

    p {
      font-size: 1.2rem;
      margin: 0 auto;
    }

    img {
      position: relative;
      top: 50%;
      right: 0;
      height: 300px;
      width: 200px;
    }
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0);
  }
  30% {
    text-shadow: 2px 2px 20px rgb(255, 234, 114);
    color: $white;
  }
  100% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes shine {
  0% {}
  15% {
    transform: translate(0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  18% {
    background-color: rgb(250, 236, 158);
  }
  25% {
    transform: translate(4500px);
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    transform: translate(4500px);
    background-color: $white;
  }
}

@keyframes animatedSlide {
  from {
    display: none;
    opacity: 0;
    top: -800px;
  }
  to {
    display: flex;
    opacity: 0.95;
    top: 120px;
  }
}

.animatedSlide {
  animation: animatedSlide 0.6s forwards;
}

@media (max-width: 576px) {
  nav {
    height: 100px;
    width: 100%;

    .nav-left {
      display: none;
    }

    .nav-right {
      width: 100%;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;

        li {
          padding: 0;
        }

        button {
          font-size: 0.7rem;
        }
      }
    }
  }

  footer {
    bottom: 100px;

    .location-popup {
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .socials,
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p,
      a {
        font-size: 1.1rem;
        letter-spacing: 0;
      }

      .map-info {
        font-size: 0.6rem;
      }

      span {
        font-size: 0.7rem;
        letter-spacing: 0;
      }
    }
  }

  .wrapper {
    width: 100vw;

    &-img {
      width: 100%;
      top: -80px;
    }
  }

  h1 {
    top: 80px;

    &:nth-child(2) {
      font-size: 3.3rem;
      letter-spacing: 25px;
    
    }

    span {
      font-size: 3rem;
      letter-spacing: 10px;
      line-height: 50px;
    }

    &::before {
      display: none;
    }
  }

  .modal {
    padding: 40px 10px;
    text-align: center;

    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 1.4rem;
      letter-spacing: 2px;
    }

    .modal-wine-section {
      display: none;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      .wines {
        .wineName {
          font-size: 1.4rem;
        }

        .winePhoto img {
          height: 30%;
          width: 30%;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 778px) {
  nav .nav-left {
    display: none;
  }

  h1 {
    top: 80px;

    &:nth-child(2) {
      font-size: 4.4rem;
      letter-spacing: 40px;
    }

    span {
      font-size: 4rem;
      letter-spacing: 15px;
      line-height: 60px;
    }

    &::before {
      display: none;
    }
  }

  footer {
    bottom: 100px;

    .socials,
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p,
      a {
        font-size: 1.5rem;
        letter-spacing: 0;
      }

      .map-info {
        font-size: 0.6rem;
      }

      span {
        font-size: 0.7rem;
        letter-spacing: 0;
      }
    }
  }

  .modal .modal-wine-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 778px) and (max-width: 1200px) {
  footer {
    .socials,
    .info {
      p,
      a {
        font-size: 1.2rem;
        letter-spacing: 0;
        padding: 2px;
      }

      .map-info {
        font-size: 0.6rem;
      }

      span {
        font-size: 0.6rem;
        letter-spacing: 0;
        padding: 2px;
      }
    }
  }

  .modal .modal-wine-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}