* {letter-spacing: 2px;
  color: rgb(204, 216, 194);
}
body {
    position: relative;
  width: 100%;
  height: 1400px;
  margin: 0;
  box-sizing: border-box;
  background-image: url(../img/preto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: red;
}
h2 {
  color: blue;
}

nav {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  // background-color: rgba(15, 15, 15, 0.949);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.099),
    rgb(9, 9, 9) 15%
  );
  opacity: 0.9;
  z-index: 10;

  .nav-left {
    width: 30%;

    img {
      width: 50px;
      height: 50px;
      position: relative;
      left: 10px;
    }
  }
}
.nav-right {
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
}
ul {
  display: flex;
  line-height: 50px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  a {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
footer {
    background-color: rgba(0, 0, 0, 0.399);
  display: flex;
  flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
  color: white;
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  a {
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .info,
  .socials {
    padding: 10px;
    margin:0 auto;
    font-size: 1.6rem;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 30px;

    div { display: flex;
    justify-content: center;
align-items: center;}
  }

  .icon {
    height: 50px;
    width: 50px;
    
  }
}


.modal { height: 100%;
width: 30%;
background-color: rgb(235, 235, 235);
border-radius: 8px;
box-shadow: 2px 2px 10px white;
}