* {letter-spacing: 2px;
  color: rgb(255, 250, 223);
   margin: 0;
  box-sizing: border-box;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: lighter;
}
body {
 position: relative;
 top:0;
 left:0;
 width: 100%;
 height: 100%;
    overflow: hidden;
  background-image: url(../img/preto3.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {position: absolute;

text-transform: uppercase;
  color: white;
  top:15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
:nth-child(2) {
  font-size: 6rem;
    letter-spacing: 50px;
    line-height: 75px;
}
span {  letter-spacing: 15px;
}
}

h1::before{
  position: absolute;
  left: -1200px;
  top: 80px;
  content: "";
width: 140px;
height: 3px;
transform: skew(-75deg);
box-shadow: 1px 1px 20px white;
background-color: white;
animation: shine 12s infinite ;
}

h2 {
  color: blue;
}

nav {
  display: flex;
align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  // background-color: rgba(15, 15, 15, 0.949);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05),
    rgb(5, 5, 5) 40%,
    rgba(255, 255, 255, 0.05) 95%
  );
  opacity: 0.98;
  z-index: 10;

    img {
      width: 70px;
      height:70px;
      position: relative;
      left: 10px;
      top: 20px;
    }
  }

.nav-right {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

}
ul {
  display: flex;
  line-height: 50px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  button {
    background-color: transparent;
    border: none;
  padding: 5px;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
footer {
    background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
  color: white;
  position: fixed;
  bottom:0;
  // left: 0;
  width: 100%;
  a {
    animation: glow 4s infinite;
      color: rgb(141, 141, 141);
    font-size: 1.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .info,
  .socials {
    padding: 10px;
    margin:0 auto;
    font-size: 1.6rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 30px;
    
    div { display: flex;
    justify-content: center;
align-items: center;}

span {font-weight: bold;
text-transform: uppercase;
font-size: 1.1rem;
color: rgb(121, 121, 121);}
  }

  .icon {

    height: 50px;
    width: 50px;
    
  }
}


.modal { 
  position: 
  fixed;
  height: 100vh;
  left:0;
  top:40px;
width: 30%;
background-color: rgb(235, 235, 235);
box-shadow: 1px 1px 5px white;
z-index: 5;
}

@keyframes glow {
 0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
}

  30% {
    text-shadow: 2px 2px 20px rgb(255, 234, 114);
    color: white;
  }
  0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
  }
}

@keyframes shine {
 0% {}
10%{}
15%{transform: translate(0);
background-color: rgba(255, 255, 255, 0.3);}
18%{background-color: rgb(250, 236, 158);
}
25%{transform:translate(4000px);
background-color: rgba(255, 255, 255, 0.3);}
45%{}
49%{}
50% {}
55%{}
60%{}
70%{}
80%{}
90%{}
 100% {transform:translate(4000px);
background-color: white;
}
}
